{:paths       ["src" "resources"]
 :deps        {org.clojure/clojure              {:mvn/version "1.12.1"}
               org.asciidoctor/asciidoctorj     {:mvn/version "3.0.0"}
               hiccup/hiccup                    {:mvn/version "2.0.0"}
               io.github.clojure/tools.build    {:mvn/version "0.10.10"}
               org.openjdk.nashorn/nashorn-core {:mvn/version "15.7"}
               org.clojure/tools.cli            {:mvn/version "1.1.230"}
               dev.weavejester/hashp            {:mvn/version "0.4.0"}
               lambda-lifters/lambda-liftoff    {:git/url "https://github.com/lambda-lifters/lambda-liftoff.git"
                                                 :git/sha "0891fd89d84c2358f4689ddc1222072abde9016b"}
               }
 ;; Default namespace for tool usage
 :tools/usage {
               :ns-default lambda-lifters.paparascii.tool
               }

 :aliases
 {;; Run with clj -T:build function-in-build
  :build {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.10"}}
          :ns-default build}}

 }
